<!DOCTYPE html>
<html>

<head>
    <title>메인 화면</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>
    <h1>코인 거래소</h1>

    <div class="nav-style">
        <a href="/mypage">마이페이지</a>
        {%if isLoggedin%}
        <a href="/logout">로그아웃</a>
        {%else%}
        <a href="/login">로그인</a>
        {%endif%}
    </div>

    {%if isLoggedin%}
    <div class="module">
        <h3 class="">{{ user.name }}님, 환영합니다!</h3>
        <p>사용자 코인 개수: {{ coins }}</p>
        <p>사용자 시드머니: {{ seed_money }}원</p>
    </div>

    <div class="module">
        <h2>코인 구매</h2>
        <p>현재 코인 개수: {{ coin_inventory }}</p>
        <p>코인 가격: {{ coin_firstprice }}원</p>

        <form method="POST" action="/buy_coin">
            <label>코인 개수</label>
            <input type="number" name="coin_quantity" min="1" required><br>
            <input type="submit" value="코인 구매">
        </form>
    </div>
    <div class="module">
        <h2>코인 판매</h2>
        <form method="POST" action="/sell_coin">
            <label>판매할 코인 개수</label>
            <input type="number" name="coin_quantity" min="1" required><br>
            <label>코인 가격</label>
            <input type="number" name="coin_price" min="1" step="0.01" required><br>
            <input type="submit" value="코인 판매">
        </form>
    </div>
    {%endif%}
    <div class="module">
        {%if coin_data %}
        {% for data in coin_data %}
        <table>
            <tr>
                <th>Quantity</th>
                <th>Price</th>
                <th>Who</th>
            </tr>

            <tr>
                <td>{{ data.quantity }}</td>
                <td>{{ data.price }}</td>
                <td>{{ data.who }}</td>
                <td>
                    <form method="POST" action="/buy_user_coin">
                        <input type="hidden" name="seller_username" value="{{ data.who }}">
                        <input type="hidden" name="coin_quantity" value="{{ data.quantity }}">
                        <input type="hidden" name="coin_price" value="{{ data.price }}">
                        <input type="submit" value="구매">
                    </form>

                </td>
            </tr>

        </table>
        {% endfor %}
        {%else%}
        <p> There's no Trading Order</p>
        {%endif%}

    </div>
    <div class="module">
        <img src="data:image/png;base64,{{ graph_data }}" alt="Graph">
    </div>



    <p>{{ message }}</p>

</body>

</html>