<!DOCTYPE html>
<html>
<!-- main html file -->

<head>
    <title>코인 거래소</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <header>
        <h1>코인 거래소
        </h1>
    </header>

    <main>
        <section class="module">
            <h2>Trade Cryptocurrencies with Ease</h2>
            <p>Buy, sell, and trade a wide range of cryptocurrencies on our secure platform.</p>
            <a href="/login" class="btn">login</a>
        </section>

    </main>

</body>

</html>