<!DOCTYPE html>
<html>

<head>
    <title>마이 페이지</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <h1>마이 페이지</h1>
    <div class="nav-style">
        <a href="/logout">로그아웃</a>
        <a href="/home">메인으로</a>
    </div>
    <div class="module">
        <hr>
        <p>{{ user.name }}님, 환영합니다!</p>
        <p>계좌 잔액: {{ seed_money }}원</p>
        <p>구매한 코인 개수: {{ coins }}</p>
    </div>

    <div class="module">
        <h2>출금</h2>
        <form method="POST" action="/withdraw">
            <label>출금할 시드머니</label>
            <input type="number" name="amount" min="1" step="0.01" required><br>
            <input type="submit" value="시드머니 출금">
        </form>
    </div>
    <div class="module">
        <h2>입금</h2>
        <form method="POST" action="/charge_money">
            <label>충전할 시드머니</label>
            <input type="number" name="seed_money" min="0" step="1" required><br>
            <input type="submit" value="시드머니 충전">
        </form>
    </div>
    <div class="module">
        <h2>주문 이력</h2>
        {% if coin_data %}


        <table class="table-style">
            <tr>
                <th>Quantity</th>
                <th>Price</th>
                <th>Who</th>
                <th>Time</th>
            </tr>
            {% for data in coin_data %}
            <tr>
                <td>{{ data.quantity }}</td>
                <td>{{ data.price }}</td>
                <td>{{ data.who }}</td>
                <td>{{data.sold_time}}</td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <p> There's no Trading History</p>
        {%endif%}


    </div>




    <hr>
</body>

</html>